/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --primary-color: #605dc8; 
  --secondary-color: #8b89e6; 
  --accent-color: #e8e7fa; 
  --text-color: #333; 
  --background-color: #f0f0f0; 
  --font-family: 'Arial', sans-serif; 
}

/* Estilo del cuerpo y fuentes */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilos para párrafos */
p {
  margin-bottom: 20px;
}

/* Estilos para enlaces */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: darken(var(--primary-color), 10%);
}

/* Botones genéricos */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/* Botón primario */
button.primary {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

button.primary:hover {
  background-color: darken(var(--primary-color), 10%);
  border-color: darken(var(--primary-color), 10%);
}

/* Botón secundario */
button.secondary {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

button.secondary:hover {
  background-color: darken(var(--secondary-color), 10%);
  border-color: darken(var(--secondary-color), 10%);
}

/* Inputs de formulario */
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: var(--primary-color);
}

/* Estilo genérico para sección */
.section {
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
}
